.Grid-cell {
  height: 60px;
  width: 100px;
  margin: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  background-color: #2dabf9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.Grid-cell:active {
  position: relative;
  top: 1px;
}

.Grid-column {
  --grid-cols: 3;
  --grid-rows: 3;
  display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .Grid-column{
      --grid-cols: 2;
        --grid-rows: 2;
  }
}

@media only screen and (max-width: 480px)  {
  .Grid-column {
    --grid-cols: 1;
    --grid-rows: 1;
  }
}