.App {
  color: #272727;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.unselected-text{
  color:#ECA400;
}

.selected-text{
  color: #009FB7;
}