.App {
  color: #272727;
  background-color: #696773;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.Grid-cell {
  height: 60px;
  width: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  background-color: #2dabf9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.Grid-cell:active {
  position: relative;
  top: 1px;
}

.Grid-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 700px) {

  .App {
    background-color: red;
  }
}